{% extends "blogi/base.html" %}

{% block content %}
<h1>Postaukset</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">

    {% for postaus in postaukset %}

    <div class="col">
        <div class="card">
            {% if postaus.kuva %}
            <img src= "{{postaus.kuva.url}}" class="card-img-top" alt="">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{postaus.otsikko}}</h5> {# Tähän tulee otsikko #}
            <p class="card-text">{{postaus.otsikko}}</p> {% comment "" %} tähän tulee yleensä johdatteleva teksti (ingressi), nyt siinä on blogin teksti{% endcomment %}
          </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}